$black:#000;
$white:#fff;
$taupe:#837F6D;
// rgba(131,127,109,0.5)
$orng:#B9770E;
// rgba(185,119,14,0.5);
$dkorng:darken($orng,10%);
// #8a590a, rgba(138,89,10,0.5)
$red:#B03A2E;

$primary:$taupe;
$secondary:$dkorng;
$tertiary:$red;
