.comments { padding-top: 20px; }

// ============================================================
//  COMMENT FORM
// ============================================================
#commentform {
  p.comment-form-comment { margin-bottom: 0; }
  label {
    
  }//label
  textarea { padding: 10px; }
}//#commentform

// ============================================================
//  COMMENTS LIST
// ============================================================
#comments-list {
  ul { @extend %ul-zero; }
  li {
    margin-bottom: 10px;
    padding: 20px;
    background: rgba(131,127,109,0.08);
    font-size: 0.95rem;
    li {
      padding: 14px;
      background: rgba(131,127,109,0.04);
    }
  }//li
}//comments-list
