* { box-sizing: border-box; }

body {
  &.vis { overflow: hidden; }
}//body

$headerHeight: 149px;
$headerHeightMed: 64px;

#content {
  margin-top: $headerHeight;
  @include ptb(6%,3%);
  @extend %dtrans;
  .scrolled & { margin-top: $headerHeightMed; }
}//content

.outer-wrap {

}//outer-wrap

.inner-wrap {
  max-width: 1300px;
  margin: auto;
  @include plr();
  background: $white;
  @include breakpoint(med) { // 768 - MEDIUM =================================
    @include plr(4%,4%);
  }//medium
}//innerwrap

%inner-narrow {
  max-width: 890px;
  margin: auto;
}//%inner-narrow

.inner-narrow { @extend %inner-narrow; }

// ============================================================
//  HEADER
// ============================================================
header#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  border-bottom: 1px solid #f5f5f5;
  z-index: 2000;
  @extend %dtrans;
  * { @extend %dtrans; }
  .logged-in & { top: 32px; }
  .outer-wrap { height: 100%; }
  .inner-wrap {
    display: flex;
    justify-content: space-between;
  }//inner-wrap
  a.logo {
    flex: 0 0 60%;
    @include ptb(30px,30px);
    font-family: $cursive;
    font-size: 3.8em;
    color: #333;
    line-height: 1.0;
    span {
      display: block;
      padding-top: 15px;
      font-family: $sans;
      font-size: 0.9rem;
      letter-spacing: 2px;
      color: lighten($primary,20%);
      opacity: 1;
    }//span
  }//a.logo
  // nav#menu in _navigation.scss
  .mobile-trigger {
    display: none;
    justify-content: center;
    font-size: 2.0em;
    text-align: center;
    cursor: pointer;
    div { align-self: center; }
    .close { display: none; }
    &.vis {
      .burger { display: none; }
      .close { display: block; }
    }//vis
  }//mobile-trigger
  // ============================================================
  //  SCROLLED
  // ============================================================
  .scrolled & {
    a.logo {
      @include ptb(10px,5px);
      font-size: 2.4em;
      span {
        padding-top: 0;
        font-size: 0.001rem;
        opacity: 0;
      }//span
    }//a.logo
    .mobile-trigger { display: flex; }
  }//scrolled
  @include breakpoint(xxlg) { // 1200 - XXLARGE =================================

  }//xxlarge

  @include breakpoint(xlg) { // 1024 - XLARGE =================================

  }//xlarge

  @include breakpoint(lg) { // 890 - LARGE =================================
    nav#menu { display: none; }
    .mobile-trigger { display: flex; }
  }//large

  @include breakpoint(med) { // 768 - MEDIUM =================================
    .logged-in & { top: 46px; }
  }//medium

  @include breakpoint(small) { // 667 - SMALL ================================

  }//small

  @include breakpoint(xsmall) { // 480 - XSMALL ================================

  }//xsmall
}//header#header

// ============================================================
//  FOOTER
// ============================================================
footer#footer {
  ul.sn-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.0em;
    li { margin-left: 25px; }
    a {
      color: $primary;
      &:hover { color: lighten($primary,10%); }
    }
  }//ul.sn-icons
  .copyright { @extend .small; }
}//footer#footer

// ============================================================
//  OVERLAY
// ============================================================
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darken($primary,20%);
  opacity: 0;
  @extend %dtransfast;
  z-index: -1;
  &.vis {
    opacity: 0.98;
    z-index: 1000;
  }//vis
}//overlay
