body {
  font-family: $sans;
  color: #444;
  line-height: 2.0;
}//body

h1,h2,h3,h4 {
  margin: 0;
  font-family: $headline;
  font-weight: 300;
  color: $primary;
}//h1,h2,h3,h4

h1.entry-title,
h2.entry-title {
  font-size: 2.2em;
  line-height: 1.4;
  letter-spacing: 1px;

  @include breakpoint(med) { // 768 - MEDIUM =================================
    font-size: 2.0em;
  }//medium

  @include breakpoint(small) { // 667 - SMALL ================================
    font-size: 1.7em;
  }//small

  @include breakpoint(xsmall) { // 480 - XSMALL ================================
    font-size: 1.5em;
  }//xsmall
}//h2

h3 {
  font-size: 1.6em;
}

.entry-meta,
.entry-footer { font-size: 0.9rem; }

a {
  color: $secondary;
  text-decoration: none;
  &.more-link {
    @extend .btn;
    @extend .xsm;
  }
}

p {
  margin-bottom: 30px;
  a {
    font-weight: 600;
    &:hover { text-decoration: underline; }
  }
  @include breakpoint(small) { // 667 - SMALL ================================
    // font-size: 90%;
  }//small

  @include breakpoint(xsmall) { // 480 - XSMALL ================================

  }//xsmall
}

em { font-style: italic; }
strong { font-weight: 600; }
small,
.small { font-size: 0.8rem; }
